.loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}

.ant-spin-container {
  width: 100%;
  height: 100%;
}

.ant-spin-text {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
}
